body {
  @mixin dark-input() {
    padding: 4px 10px 5px 10px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ccc;
    font-family: $default-font;
    font-size: 14px;
    box-sizing: border-box;
  }
  input {
    @include dark-input();
  }
  select {
    @include dark-input();
  }
  textarea {
    @include dark-input();
  }
  .context-dialog {
    >.mat-dialog-container {
      padding: 0;
    }
  }
}
