@import './material';
@import './variables';
@import './settings';
@import './elements';
@import './shared/home-pages';
@import './shared/controls';
@import './shared/explorer';

html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100%;
  body {
    margin: 0;
    font-family: $default-font;
    background: white;
    height: 100%;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }
}
