@import './material';
@import './variables';
@import './notifications';
@import './settings';

html {
  overflow-x: hidden;
  overflow-y: hidden;
  body {
    margin: 0;
    font-family: $default-font;
    background: white;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
