@import './material';
@import './variables';
@import './settings';
@import './elements';

html {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  height: 100%;
  body {
    margin: 0;
    font-family: $default-font;
    background: white;
    height: 100%;
  }
}
