@import 'styles/variables';

.page {
  >.flex {
    background: #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: calc(100% - 81px);
    >.grid {
      padding: 10px;
      box-sizing: border-box;
      width: 1100px;
      max-width: 100%;
      background: white;
      border-radius: 2px;
      overflow-y: auto;
      font-size: 14px;
      >.row {
        margin-bottom: 15px;
        >.line {
          display: flex;
          align-items: center;
          >.label {
            margin-right: 10px;
          }
          >.key {
            padding: 10px 12px;
            box-sizing: border-box;
          }
        }
        >.key-line {
          >.label {
            display: flex;
            align-items: center;
          }
          .mat-icon {
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 2px;
            margin-right: 10px;
          }
          .text {
            background: $color-primary;
            color: white;
          }
          .password {
            color: $color-primary;
            &:active {
              color: white;
            }
          }
        }
        >.hiddenblock {
          display: inline-block;
          padding: 3px 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
        span {
          word-wrap: break-word;
          word-break: break-word;
          white-space: pre-wrap;
        }
      }
    }
  }
}
