<div class="page">
  <div class="controls">
    <div class="buttons">
      <button (click)="locationService.back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button (click)="close()">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button [routerLink]="['/browser/grid-edit']">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div class="path">
      <input type="text" readonly="true" [value]="locationService.file.path">
    </div>
  </div>
  <div class="flex">
    <div class="grid">
      <div class="row" *ngFor="let row of grid.rows">
        <span *ngIf="row.type === gridType.TEXTBLOCK">{{ row.value }}</span>

        <div class="line key-line" *ngIf="row.type === gridType.INPUT">
          <div class="label" *ngIf="row.label">{{ row.label }}:</div>
          <div
            class="value key active-button"
            (click)="copy(row.value)"
            *ngIf="row.value"
          >{{ row.value }}</div>
        </div>

        <div class="line key-line" *ngIf="row.type === gridType.PASSWORD">
          <div class="label" *ngIf="row.label">{{ row.label }}:</div>
          <mat-icon
            class="active-button"
            [ngClass]="row.visibility"
            (click)="togglePass(row)"
          >visibility</mat-icon>
          <div
            class="value key active-button"
            (click)="copy(row.value)"
            *ngIf="row.value"
          >
            <ng-container *ngIf="row.visibility === 'password'">********</ng-container>
            <ng-container *ngIf="row.visibility === 'text'">{{ row.value }}</ng-container>
          </div>
        </div>

        <div class="line textarea" *ngIf="row.type === gridType.TEXTAREA">
          <div class="label">{{ row.label }}:</div>
          <span class="value">{{ row.value }}</span>
        </div>

        <div class="hiddenblock" *ngIf="row.type === gridType.HIDDENBLOCK">
          <div class="label">{{ row.label }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
