<div class="page">
  <div class="control">
    <div class="buttons">
      <button (click)="close()">...</button>
      <button [routerLink]="['/browser/grid-edit']">Edit</button>
    </div>
    <div class="path">
      <input type="text" readonly="true" [value]="dataService.file.path">
    </div>
  </div>
  <div class="flex">
    <div class="grid">
      <div class="row" *ngFor="let row of grid.rows">
        <span *ngIf="row.type === 'textblock'">{{ row.value }}</span>

        <div class="line key-line" *ngIf="row.type === 'input'">
          <div class="label">{{ row.label }}:</div>
          <div
            class="value key active-button"
            (click)="copy(row.value)"
            *ngIf="row.value"
          >{{ row.value }}</div>
        </div>

        <div class="line key-line" *ngIf="row.type === 'password'">
          <div class="label">{{ row.label }}:</div>
          <div
            class="value key active-button"
            (click)="copy(row.value)"
            *ngIf="row.value"
          >********</div>
        </div>

        <div class="line" *ngIf="row.type === 'textarea'">
          <div class="label">{{ row.label }}:</div>
          <span class="value">{{ row.value }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
