.dialog {
  >.title {
    font-size: 14px;
    margin-bottom: 10px;
  }
  >.id {
    margin-bottom: 10px;
    >input {
      width: 190px;
      box-sizing: border-box;
      border: 1px solid #ccc;
    }
  }
  button {
    padding: 4px;
    width: 90px;
    font-size: 14px;
    margin-right: 10px;
  }
}
