.controls {
  background: $color-dark;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid $color-primary;
  box-sizing: border-box;
  >.buttons {
    >button {
      padding: 4px 12px;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 15px;
      color: #131313;
      background: white;
      outline: none;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      &:active {
        color: white;
        background: $color-primary;
      }
    }
  }
  >.path {
    >input {
      width: 100%;
      color: #131313;
    }
  }
}
