<div class="page" *ngIf="dataService.isDecrypted">
  <div class="controls">
    <div class="buttons">
      <button (click)="locationService.back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button (click)="up()">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button (click)="controlsService.add.click()">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="controlsService.controls.click()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <div class="placeholder"></div>
      <button (click)="controlsService.file.click()">
        <mat-icon *ngIf="locationService.isBookmark">bookmark</mat-icon>
        <mat-icon *ngIf="!locationService.isBookmark">bookmark_border</mat-icon>
      </button>
    </div>
    <div class="path">
      <input
        type="text"
        spellcheck=false
        [(ngModel)]="locationService.path"
        (focus)="focus()"
        (blur)="blur()"
      >
    </div>
  </div>
  <div class="explorer">
    <div
      class="node"
      *ngFor="let node of locationService.folder.nodes"
      (click)="mouseService.click(node)"
      (dblclick)="mouseService.dblclick(node)"
      (contextmenu)="mouseService.contextmenu($event, node)"
      (touchstart)="mouseService.touchstart($event, node)"
      (touchend)="mouseService.touchend()"
      [ngClass]="{ selected: node.isSelected }"
    >
      <div class="icon">
        <mat-icon>{{ mediaService.getIcon(node) }}</mat-icon>
      </div>
      <div class="name text">
        <span>{{ node.name }}</span>
      </div>
      <div class="size text">
        <span>{{ node.sizeString }}</span>
      </div>
      <div class="modified text">
        <span>{{ node.updatedTimestamp | date:'dd/MM/yyyy' }}</span>
      </div>
    </div>
  </div>
</div>
<controls-popup *ngIf="controlsService.controls.isClicked"></controls-popup>
<add-popup *ngIf="controlsService.add.isClicked"></add-popup>
<index-popup *ngIf="controlsService.index.isClicked"></index-popup>
<context-popup *ngIf="controlsService.context.isActivated"></context-popup>
<file-popup *ngIf="controlsService.file.isClicked"></file-popup>
