:host {
  z-index: 15;
  >.message {
    margin-bottom: 25px;
    width: 350px;
    >pre {
      font-size: 14px;
      margin: 0;
      word-wrap: break-word;
      word-break: break-word;
      white-space: pre-wrap;
      font-family: 'Lato', sans-serif;
      color: #b5b5b5;
    }
  }
  >.buttons {
    display: flex;
    justify-content: center;
    .mat-button {
      width: 87px;
      height: 28px;
    }
  }
}
