<div class="popup" #popup>
  <div
    class="option"
    [ngClass]= "{ selected: sortBy === 'az' }"
    (click)="select('az')"
  >A-Z</div>
  <div
    class="option"
    [ngClass]= "{ selected: sortBy === 'modified' }"
    (click)="select('modified')"
  >Modified</div>
  <div
    class="option"
    [ngClass]= "{ selected: sortBy === 'size' }"
    (click)="select('size')"
  >Size</div>
  <div
    class="option"
    [ngClass]= "{ selected: sortBy === 'default' }"
    (click)="select('default')"
  >Default</div>
</div>
