@import 'styles/variables';

.page {
  >.video {
    height: calc(100% - 81px);
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    >video {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
