<header>
  <div class="label">
    <div
      class="cryptozip"
      [routerLink]="['/']"
      *ngIf="!dataService.isDecrypted"
    >Cryptozip {{ version }}</div>
    <div *ngIf="dataService.isDecrypted">{{ dataService.tree.meta.id }}</div>
  </div>
  <div class="loading" *ngIf="loadingService.loads > 0">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>
  <div class="menu-button" (click)="headerService.menu.click()" *ngIf="dataService.isDecrypted">
    <mat-icon *ngIf="!headerService.menu.isClicked">menu</mat-icon>
    <mat-icon *ngIf="headerService.menu.isClicked">menu_open</mat-icon>
  </div>
</header>
<div class="notification" *ngIf="notificationService.message">
  <span
    class="message"
    [style.background]="notificationService.color"
  >{{ notificationService.message }}</span>
</div>
<sort-popup *ngIf="headerService.sort.isClicked"></sort-popup>
<menu-popup
  [overlay]="headerService.menu.overlay"
  *ngIf="headerService.menu.isClicked"
  (openMenu)="open($event)"
></menu-popup>
