<header>
  <div class="label">
    <div
      class="cryptozip"
      [routerLink]="['/']"
      *ngIf="!dataService.isDecrypted"
    >Cryptozip {{ version }}</div>
    <div *ngIf="dataService.isDecrypted">{{ dataService.id }}</div>
  </div>
  <div class="loading" *ngIf="loadingService.loads > 0">
    <mat-spinner [diameter]="25"></mat-spinner>
  </div>
  <div class="menu-button" (click)="toggleMenu()" *ngIf="dataService.isDecrypted">
    <mat-icon *ngIf="!headerService.isMenu">menu</mat-icon>
    <mat-icon *ngIf="headerService.isMenu">menu_open</mat-icon>
  </div>
</header>
<div class="popup-menu" *ngIf="headerService.isMenu" #menu>
  <div class="option" (click)="clearClipboard()">Clear Clipboard</div>
  <div class="option" (click)="askToRoot()">Root</div>
  <div class="option" (click)="openIdDialog()">Change id</div>
  <div class="option" (click)="openPasswordDialog()">Change Password</div>
  <div class="option" (click)="decryptAll()">Decrypt All</div>
  <div class="option" (click)="print()">Print</div>
  <div class="option" (click)="search()">Search</div>
  <div class="option" (click)="showProperties()">Properties</div>
  <div class="option" (click)="exportZip()">Export Zip</div>
  <div class="option" (click)="headerService.download()">Download</div>
  <div class="option" (click)="askToSave()">Save</div>
  <div class="option" (click)="delete()">Delete</div>
  <div class="option" (click)="askToReload()">Reload</div>
  <div class="option" (click)="askToExit()">Exit</div>
</div>
<div class="notification" *ngIf="notificationService.message">
  <span
    class="message"
    [style.background]="notificationService.color"
  >{{ notificationService.message }}</span>
</div>
