@import 'styles/variables';

.page {
  >.flex {
    background: #ccc;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    height: calc(100% - 81px);
    >.grid {
      padding: 10px;
      box-sizing: border-box;
      width: 1100px;
      max-width: 100%;
      background: white;
      border-radius: 2px;
      overflow-y: auto;
      font-size: 14px;
      >.row {
        margin-bottom: 15px;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid $color-primary;
        >.header {
          display: flex;
          justify-content: space-between;
          >span {
            text-transform: capitalize;
            font-size: 16px;
            color: $color-primary;
          }
          >.arrows {
            >.mat-icon {
              margin-left: 10px;
            }
          }
        }
        >input, >textarea {
          border: 1px solid #ccc;
          display: block;
          width: 100%;
          margin-top: 10px;
        }
        .mat-icon {
          padding: 2px;
          border: 1px solid #ccc;
          border-radius: 2px;
        }
        >.pwd {
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          >input {
            border: 1px solid #ccc;
            display: inline-block;
            width: calc(100% - 40px);
          }
        }
        >.key {
          display: flex;
          margin-top: 10px;
          >input {
            border: 1px solid #ccc;
            display: inline-block;
            width: 100px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
