<div class="page">
  <div class="controls">
    <div class="buttons">
      <button (click)="tryBack()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button (click)="tryClose()">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button (click)="tryPreview()">
        <mat-icon>edit_off</mat-icon>
      </button>
      <button (click)="popupService.add()">
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div class="path">
      <input type="text" readonly="true" [value]="locationService.file.path">
    </div>
  </div>
  <div class="flex" #flexRef>
    <div class="grid" [style.height.px]="dragService.totalTabsHeight" #gridRef>
      <div
        class="row"
        [id]="row.id"
        [ngClass]="{ drag: row.isDrag }"
        [style.top.px]="row.offset"
        *ngFor="let row of gridService.grid.rows"
      >
        <div class="header">
          <span>{{ gridTypeLabels[row.type] }}</span>
          <div class="arrows">
          <mat-icon class="delete active-button" (click)="dragService.delete(row)">
            delete_outline
          </mat-icon>
          <mat-icon class="up active-button" (click)="dragService.up(row)">upload</mat-icon>
          <mat-icon class="down active-button" (click)="dragService.down(row)">download</mat-icon>
          <mat-icon
            class="drag active-button"
            (mousedown)="dragService.dragStart($event, row)"
          >open_with</mat-icon>
          </div>
        </div>

        <textarea
          [(ngModel)]="row.value"
          spellcheck="false"
          autosize
          *ngIf="row.type === gridType.TEXTBLOCK"
          (resized)="dragService.textareaResize()"
        ></textarea>

        <ng-container *ngIf="row.type === gridType.INPUT">
          <input type="text"[(ngModel)]="row.label" placeholder="Label" spellcheck="false">
          <input type="text"[(ngModel)]="row.value" placeholder="Value" spellcheck="false">
        </ng-container>

        <ng-container *ngIf="row.type === gridType.PASSWORD">
          <input type="text"[(ngModel)]="row.label" placeholder="Label" spellcheck="false">
          <div class="pwd">
            <input
              [type]="row.visibility"
              [(ngModel)]="row.value"
              placeholder="Password"
              spellcheck="false"
            >
            <mat-icon
              class="active-button"
              [ngClass]="row.visibility"
              (click)="gridService.togglePass(row)"
            >visibility</mat-icon>
          </div>
          <div class="key">
            <mat-icon
              class="active-button"
              (click)="gridService.generateKey(row, length.value, dict.value)"
            >vpn_key</mat-icon>
            <input type="number" value=16 #length>
            <select #dict>
              <option value="number">1234</option>
              <option value="text">password</option>
              <option value="text_number">password99</option>
              <option value="simple" selected>pAss99</option>
              <option value="mixed_text_number">PassWord99</option>
              <option value="string64">Pass_Word-99</option>
              <option value="base64">base+64=</option>
              <option value="hard">Must#4</option>
              <option value="special">P@ss_Word-99</option>
              <option value="unicode">P@ss_Wo®d-99</option>
              <option value="emoji">P@ss😎Wo®d-99</option>
            </select>
          </div>
        </ng-container>

        <ng-container *ngIf="row.type === gridType.TEXTAREA">
          <input type="text"[(ngModel)]="row.label" placeholder="Label" spellcheck="false">
          <textarea
            [(ngModel)]="row.value"
            spellcheck="false"
            autosize
            (resized)="dragService.textareaResize()"
          ></textarea>
        </ng-container>

        <ng-container *ngIf="row.type === gridType.HIDDENBLOCK">
          <input type="text"[(ngModel)]="row.label" placeholder="Label" spellcheck="false">
          <textarea
            [(ngModel)]="row.value"
            spellcheck="false"
            autosize
            (resized)="dragService.textareaResize()"
          ></textarea>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<grid-popup
  [overlay]="popupService.overlay"
  *ngIf="popupService.isPopup"
  (add)="add($event)"
></grid-popup>
