<app-header></app-header>
<router-outlet></router-outlet>
<div class="preload">
  <mat-icon>menu</mat-icon>
  <mat-icon>menu_open</mat-icon>
  <mat-icon>chevron_left</mat-icon>
  <mat-icon>expand_less</mat-icon>
  <mat-icon>add</mat-icon>
  <mat-icon>save</mat-icon>
  <mat-icon>more_vert</mat-icon>
  <mat-icon>bookmark</mat-icon>
  <mat-icon>bookmark_border</mat-icon>
  <mat-icon>edit_off</mat-icon>
  <mat-icon>delete_outline</mat-icon>
  <mat-icon>upload</mat-icon>
  <mat-icon>download</mat-icon>
  <mat-icon>open_with</mat-icon>
  <mat-icon>visibility</mat-icon>
  <mat-icon>vpn_key</mat-icon>
  <mat-icon>search</mat-icon>
  <mat-icon>manage_search</mat-icon>
  <mat-icon>clear</mat-icon>
  <mat-icon>insert_drive_file</mat-icon>
  <mat-icon>grid_view</mat-icon>
  <mat-icon>file_open</mat-icon>
  <mat-icon>image</mat-icon>
  <mat-icon>movie</mat-icon>
  <mat-icon>category</mat-icon>
</div>
