<div class="page home-page">
  <div class="flex" *ngIf="!isLoading">
    <div class="upload">
      <label class="active-button" for="file-upload">
        Select
      </label>
      <input
        id="file-upload"
        type="file"
        (change)="setFile($event.target.files)"
      />
      <span>{{ name }}</span>
    </div>
    <div class="pass">
      <input type="password" placeholder="Password" [(ngModel)]="password">
    </div>
    <div class="button">
      <button (click)="decrypt()">Upload</button>
    </div>
  </div>
  <div class="loading" *ngIf="isLoading">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</div>
