<div class="page">
  <div class="controls">
    <div class="buttons">
      <button (click)="locationService.back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button (click)="close()">
        <mat-icon>expand_less</mat-icon>
      </button>
      <div class="placeholder"></div>
      <button (click)="controlsService.file.click()">
        <mat-icon *ngIf="locationService.isBookmark">bookmark</mat-icon>
        <mat-icon *ngIf="!locationService.isBookmark">bookmark_border</mat-icon>
      </button>
    </div>
    <div class="path">
      <input type="text" readonly="true" [value]="locationService.file.path">
    </div>
  </div>
  <div class="image">
    <img [src]="base64">
  </div>
</div>
<file-popup *ngIf="controlsService.file.isClicked"></file-popup>
