<div class="popup" #popup>
  <div class="option" (click)="addFile()">Create File</div>
  <div class="option" (click)="addFolder()">Create Folder</div>
  <div class="option" (click)="addGrid()">Create Grid</div>
  <div class="option upload">
    <label for="file-upload">
      Import File
    </label>
    <input
      id="file-upload"
      type="file"
      multiple
      (change)="importFile($event.target.files)"
    />
  </div>
  <div class="option upload">
    <label for="folder-upload">
      Import Folder
    </label>
    <input
      id="folder-upload"
      type="file"
      webkitdirectory mozdirectory
      (change)="importFolder($event.target.files)"
    />
  </div>
  <div class="option" (click)="transfer()">Transfer</div>
  <div class="option" (click)="paste()" *ngIf="clipboardService.clipboard.length > 0">Paste</div>
</div>
