<div
  class="popup" #popup
  [style.top.px]="controlsService.context.overlay.point.y"
  [style.left.px]="controlsService.context.overlay.point.x"
  [ngClass]="{ visible: controlsService.context.isVisible }"
>
  <div class="option" (click)="open()">Open</div>
  <div class="option" (click)="copy()">Copy</div>
  <div class="option" (click)="transfer()">Copy as Binary</div>
  <div class="option" (click)="cut()">Cut</div>
  <div class="option" (click)="delete()">Delete</div>
  <div class="option" (click)="rename()">Rename</div>
  <div class="option" (click)="export()">Export</div>
  <div class="option" (click)="link()">Create a Link</div>
  <div class="option" (click)="tags()">Tags</div>
  <div class="option" (click)="index()">Index</div>
  <div class="option" (click)="properties()">Properties</div>
</div>
