.page {
  display: flex;
  flex-direction: column;
  >.controls {
    >.buttons {
      >.length {
        display: flex;
        align-items: center;
        color: white;
        padding-top: 2px;
        font-size: 14px;
      }
    }
    >.path {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .node {
    >.name {
      width: calc(100% - 50px - 100px);
      height: 100%;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      box-sizing: border-box;
    }
    >.param {
      width: 100px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.long {
      >.name {
        width: calc(100% - 50px);
      }
    }
  }
}
