<div class="page">
  <div class="controls">
    <div class="buttons">
      <button (click)="locationService.back()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button (click)="close()">
        <mat-icon>expand_less</mat-icon>
      </button>
      <button (click)="search()">
        <mat-icon>search</mat-icon>
      </button>
      <button (click)="all()">
        <mat-icon>manage_search</mat-icon>
      </button>
      <button (click)="clear()">
        <mat-icon>clear</mat-icon>
      </button>
      <span class="length" *ngIf="searchService.searchResults.length > 0">
        {{ searchService.searchResults.length }} nodes
      </span>
    </div>
    <div class="path">
      <input
        type="text"
        spellcheck=false
        placeholder="Where"
        [(ngModel)]="searchService.where"
      >
    </div>
    <div class="path">
      <input
        type="text"
        spellcheck=false
        placeholder="What"
        [(ngModel)]="searchService.what"
      >
    </div>
    <div class="path">
      <input
        type="text"
        spellcheck=false
        placeholder="Tags"
        [(ngModel)]="searchService.tagString"
      >
    </div>
  </div>
  <div class="explorer">
    <div
      class="node"
      *ngFor="let searchResult of searchService.searchResults"
      [ngClass]="{ long: !searchService.isParam }"
      (click)="open(searchResult)"
    >
      <div class="icon">
        <mat-icon>{{ searchResult.icon }}</mat-icon>
      </div>
      <div class="name text">
        <span class="ellipsis">{{ searchResult.path }}</span>
      </div>
      <div class="param text" *ngIf="searchService.isParam">
        <span *ngIf="searchService.sortBy === 'size'">{{ searchResult.node.sizeString }}</span>
        <span *ngIf="searchService.sortBy === 'modified'">
          {{ searchResult.node.updatedTimestamp | date:'dd/MM/yyyy' }}
        </span>
      </div>
    </div>
  </div>
</div>
