.page {
  display: flex;
  align-items: center;
  justify-content: center;
  >.flex {
    >div {
      padding: 10px;
    }
    input {
      width: 300px;
      border: 1px solid #ccc;
    }
    button {
      padding: 4px;
      width: 100px;
      font-size: 14px;
    }
  }
}
