.page {
  >.flex {
    >.upload {
      label {
        display: inline-block;
        box-sizing: border-box;
        padding: 4px;
        width: 100px;
        font-size: 14px;
      }
      input {
        display: none;
      }
      span {
        font-size: 14px;
        margin-left: 10px;
      }
    }
  }
}
